.container{
    background-color:#1E2832;
    padding-bottom:20px;
    margin-top:10px;
    border-radius:5px;
}
.center{
    text-align:center;
}

.white{
    color:white;
}

.styled-table {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;

}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    height: 30px;
    line-height: 30px;

}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    height: 40px;
    line-height: 40px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


